<div class="card-menu" >

    <div>
        <% if date == Date.today %>
          <h4 > Today </h4>
        <% else %>
         <h4 > <%= date.strftime("%A %d-%m") %> </h4>
        <% end %>
    </div>
    <div>

        <form action="/menus_from_calendar" method="post">
          <div class="form-group">
            <select name="menu[recipe_id]" class="custom-select" required>
              <option value="">Choose a meal</option>
                <% @myrecipes.each do |f| %>
                  <option value="<%= f.id%>"><%= f.title %></option>
                <% end %>
            </select>
            <%= hidden_field_tag 'menu[date]', date %>
            <%= hidden_field_tag 'menu[calendar_id]', @calendar.id %>
          </div>
          <button type="submit" class="btn btn-alert">Let's cook it ! 🚀</button>
        </form>

    </div>
    <div>

    </div>

</div>
