<div class="" >
  <%= link_to recipe_path(menu.recipe) do%>
    <div class="card-menu" >
      <div class="text-decoration-none">
        <h2 class="text-decoration-none"> <%= menu.recipe.title %> </h2>
        <% if menu.date == Date.today %>
          <h4 > Today </h4>
        <% else %>
         <h4 > <%= menu.date.strftime("%A %d-%m") %> </h4>
        <% end %>
      </div>



      <div style="text-align: right">
        <%= cl_image_tag(menu.recipe.photo.key, height: 100, width: 200, crop: :fill) %>

         <div>
        <% if @completed_groceries.nil? %>
           <p>0 %</p>
        <% else %>
          <% @completed_groceries_recipe = Grocery
                    .joins(meal_ingredient: { recipe: :menus })
                    .where(groceries: { completed: true })
                    .where(menus: { id: menu.id })
                    &.count.to_i %>

          <%  @recipe_groceries = Grocery
                    .joins(meal_ingredient: { recipe: :menus })
                    .where(menus: { id: menu.id })
                    &.count.to_i %>
          <% if @recipe_groceries == 0  %>
                  <p> NA %</p>
          <% else %>
           <% percent = (100* @completed_groceries_recipe / @recipe_groceries).to_f %>
             <p> <strong><%= percent%></strong>   %</p>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
  <% end %>
</div>
