<div class="">
  <%= link_to recipe_path(menu.recipe) do%>
    <div class="card-menu">
      <div>
        <h2> <%= menu.recipe.title %> </h2>
        <h4> <%= menu.date %> </h4>
      </div>
      <div><%= image_tag "icon_cart_v1.jpg" %>
        <p>grocery %</p>
      </div>
      <div><%= image_tag "logo_MamaPopin_v1.jpg" %>
        <p> <%= menu.cook_name %> </p>
      </div>
    </div>
  <% end %>
</div>
