<div class="container">
  <h1>Welcome <strong> <%= @usercalendar.user.first_name.capitalize %> <%= @usercalendar.user.last_name.capitalize %></strong> to your Calendar</h1>

  <% @datecount = Date.today %>
  <% @menus.each do |menu| %>
    <% if menu.date == @datecount %>
      <%= render 'card_full', menu: menu %>
    <% else %>
      <%= render 'card_empty', date: @datecount %>
      <%= render 'card_full', menu: menu %>
    <% end %>
    <% @datecount += 1 %>
  <% end %>

    <%= render 'card_empty', date: @datecount + 1%>

</div>
