<div class="container">
  <h1>Welcome <strong> <%= @usercalendar.user.first_name.capitalize %> <%= @usercalendar.user.last_name.capitalize %></strong> to your Calendar</h1>

  <% @menus.each do |menu| %>
    <div class="card-menu">
      <div>
        <h2> <%= menu.recipe.title %> </h2>
        <h4> <%= menu.date %> </h4>
      </div>

      <div>
        <%= image_tag "icon_cart_v1.jpeg" %>
        <p>grocery %</p>
      </div>

      <div>
        <%= image_tag "logo_MamaPopin_v1.jpeg" %>
        <p> <%= menu.cook_name %> </p>
      </div>

    </div>
  <% end %>

</div>
