
    <div class="container">
    <div class="cards_show1">
      <div class="recipe_img" >
        <h1 class="fw-bold"><%= @recipe.title %></h1>
        <%= image_tag "new_meal_v1.jpeg", alt: "Penne Arrabbiata", width: 200 %>
        <% if @recipe.present? %>
        <% end %>
      </div>

          <!--bookmark logic -->
       <div class="assignment" data-controller="favorite-recipe" >
       <%= button_tag data: { action:'click->favorite-recipe#toggle' } do %>
        <i class="fa-regular fa-bookmark"></i>
        <% end %>
       <div class="bookmark-icon" data-favorite-recipe-target="img">
       </div>
      <%= link_to recipe_path (@recipe) do %>
      </div>
      <% end %>
      
       <!--Date pickr -->
      <div data-controller="insert-in-list" data-insert-in-list-target="items">
      <h1> Selection of the Cooking Date for the Chef </h1>
      <%= simple_form_for [@recipe, @menu] do |f| %>
      <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <div class= "form-actions" data-insert-in-list-target= "form" data-action ="submit->insert-in-list#send">
      <p>  <%= f.submit 'Schedule your recipe' %>
      <% end %>
      </div>
      <!--End Date pickr -->
         <% if @menus.any? %>
          <% @menus.each do |menu| %>
            <div class="cook-name">
              <%= menu.cook_name %> <!-- Ensure Menu model has cook_name attribute -->
            </div>
         <% end %>
        <% else %>
          <p>No cook names found for this recipe</p>
        <% end %>
        <!--In case a simple form for more data shall be used
          <%= simple_form_for [@recipe, @menu] do |f| %>
          <%= f.input :cook_name, as: :string %>
          <%= f.submit 'Schedule your recipe' %>
         <% end  %>
          -->
       </div>
      <div>
       </div>
    </div>

      <div class="cards_show2">
        <div class="recipe border-top border-end border-dark">
        <% if @recipe.description.present? %>
        <h2 class="fw-bold"2> Recipe <span> <%= @recipe.duration %>'</span></h2>
       <%= @recipe.description %>
        <% end %>
        </div>

        <div class="ingredients border-top border-dark">
        <h2 class="fw-bold"> Ingredients </h2>
          <% if @meal_ingredients.any? %>
          <ul>
            <% @meal_ingredients.each do |meal_ingredient| %>
              <li>
              <%= meal_ingredient.ingredient.ingredient_name %>
               <p> <%= meal_ingredient.portion %> Union </p>
              </li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <div class="cards_show2">
      </div>

    </div>
    </div>
