
    <div class="container">
    <div class="cards_show1">
      <div class="recipe_img" >
        <h1 class="fw-bold"><%= @recipe.title %></h1>
         
        <%= cl_image_tag(@recipe.photo.key, height: 200, width: 200, crop: :fill) %>
        <% if @recipe.present? %>
        <% end %>
      </div>

          <!--bookmark logic -->
       <div class="assignment">
       <div class="bookmark-icon">
      <%= link_to recipe_path (@recipe) do %>
      <%= image_tag "bookmark_white_v1.jpg" %>
      <%# <%= image_tag "bookmark_red_v1.jpg" %>
      <%#  <%#% if @recipe.present? %>
      <%# <% else %>
      <%#  <% end %>
      </div>
      <% end %>

       <!--Date pickr -->

      <h1> Selection of Cook and of Cooking Date </h1>
         <% if @menus.any? %>
          <% @menus.each do |menu| %>
            <div class="cook-name">
              <%= menu.cook_name %> <!-- Ensure Menu model has cook_name attribute -->
            </div>
         <% end %>
        <% else %>
          <p>No cook names found for this recipe</p>
        <% end %>
        <!--In case a simple form for more data shall be used
          <%= simple_form_for [@recipe, @menu] do |f| %>
          <%= f.input :cook_name, as: :string %>
          <%= f.submit 'Schedule your recipe' %>
         <% end  %>
          -->
       </div>
      <div>
       </div>
    </div>

      <div class="cards_show2">
        <div class="recipe border-top border-end border-dark">
        <% if @recipe.description.present? %>
        <h2 class="fw-bold"2> Recipe <span> <%= @recipe.duration %>'</span></h2>
       <%= @recipe.description %>
        <% end %>
        </div>

        <div class="ingredients border-top border-dark">
        <h2 class="fw-bold"> Ingredients </h2>
          <% if @meal_ingredients.any? %>
          <ul>
            <% @meal_ingredients.each do |meal_ingredient| %>
              <li>
              <%= meal_ingredient.ingredient.ingredient_name %>
               <p> <%= meal_ingredient.portion %> Union </p>
              </li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <div class="cards_show2">
      </div>

    </div>
    </div>
