<div class="navbar navbar-expand-sm navbar-bottom">

  <%= link_to calendar_path do %>
    <div class=""><%= image_tag "icon_calendar_v1.jpg" %></div>
  <% end %>

  <%= link_to recipes_path do %>
    <div class=""><%= image_tag "icon_recipe_book_v1.jpg" %></div>
  <% end %>

  <%= link_to groceries_path do %>
    <div class=""><%= image_tag "icon_cart_v1.jpg" %></div>
  <% end %>

</div>
