<div class="navbar navbar-expand-sm navbar-light navbar-meals bg-white">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_MamaPopin_v1.jpg" %>
    <% end %>

    <div>
      <% if user_signed_in? %>
        <p> <em>
          <%= current_user.first_name %>  <%= current_user.last_name %>
        </em> </p>
        <%= link_to 'Log out', destroy_user_session_path, class: 'btn btn-link', data: { turbo_method: :delete } %>
      <%else  %>
        <%= link_to 'Log in', new_user_session_path, class: 'btn btn-link' %>
      <% end %>
    </div>
  </div>
</div>
