<!-- groceries list  -->

<div class="groceries-list mb-4">
  <% items.each do |grocery| %>
    <div class=" <%= grocery.completed ? 'completed' : '' %>">
      <div class="d-flex justify-content-between align-items-center grocery-card" >
        <div>
          <h5> <strong>
            <%= grocery.meal_ingredient.ingredient.ingredient_name %>
          </strong> </h5>
          <p>Portion: <%= grocery.meal_ingredient.portion %>
             <%= grocery.meal_ingredient.ingredient.category == "Meat" ? "grams" :
                 grocery.meal_ingredient.ingredient.category == "Cooking Essentials" ? "tablespoons" : "units" %>
          </p>
        </div>
        <%= button_to mark_complete_grocery_path(grocery), method: :patch, class: "btn rounded-circle #{grocery.completed ? 'btn-success' : 'btn-info'}" do %>
          <%= grocery.completed ? 'ðŸ‘ðŸ»' : 'ðŸ›’' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
