<!DOCTYPE html>
<html>
  <head>
    <title>FamilyMeals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# PEC : This If statement enables to only see the NAVBAR outside the root page, the sign-up and the login %>
    <% if (request.path != "/users/sign_in" && request.path != "/users/sign_up" && request.path != "/") %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
